<div style="margin-top : 50px">
    <canvas id="pie" class="chart chart-pie"
     chart-data="data" chart-labels="labels" >
    </canvas> 
    <em style="margin-left: 45%; margin-top: 10px">Bounced rate chart.</em>
</div>
<div style="margin-top : 50px">
    <canvas style="height: 300px" id="base" class="chart-horizontal-bar" 
        chart-data="data1" chart-labels="labels1" chart-options="options1" >
    </canvas> 
    <em>RA – rata de abandon; NA – numărul de achiziții complete; NU – numărul de utilizatori care au adăugat un produs în coșul de cumpărături.</em>
</div>
<div style="margin-top : 50px">
    <canvas style="height: 300px" id="base" class="chart-horizontal-bar" 
        chart-data="data2" chart-labels="labels2" chart-options="options2" >
    </canvas> 
    <em>VM – venit mediu per utilizator; VT – venit total; NU – număr de utilizatori</em>
</div>
<div style="margin-top : 50px">
    <canvas style="height: 300px" id="base" class="chart-horizontal-bar" 
        chart-data="data3" chart-labels="labels3" chart-options="options3" >
    </canvas> 
    <em>RC – rata de conversie; NC – numărul total de comenzi; NU – numărul de utilizatori</em>
</div>
<div style="margin-top : 50px">
    <canvas style="height: 300px" id="base" class="chart-horizontal-bar" 
        chart-data="data4" chart-labels="labels4" chart-options="options4" >
    </canvas> 
    <em>VMC – valoarea medie a unei comenzi; VC – valoarea comenzilor; NC – numărul de comenzi</em>
</div>
<div style="margin-top : 50px">
    <canvas style="height: 300px" id="base" class="chart-horizontal-bar" 
        chart-data="data5" chart-labels="labels5" chart-options="options5" >
    </canvas> 
    <em>NMP – numărul mediu de produse per comandă; NP – numărul total de produse comandate; NC – numărul total de comenzi finalizate
</em>
</div>