<form name="productForm" style="border-bottom : solid black">
        <h3> Adaugă un produs</h3>
        <div class="form-group">
            <label for="productSeries">Nume:</label>
            <input type="text" class="form-control" name="productName" id="productName" ng-model="productName" required>
        </div>
        <div class="form-group" style="margin-top : 20px">
            <label for="productSeries">Serie:</label>
            <input type="text" class="form-control" name="productSeries" id="productSeries" ng-model="productSeries" required>
        </div>
        <div class="form-group" style="margin-top : 20px">
            <label for="productDescription">Adaugă o descriere</label>
            <textarea name="productDescription" class="form-control" id="productDescription" rows="3" ng-model="productDescription" required></textarea>
        </div>
        <div class="form-group" style="margin-top : 20px">
            <label for="productPrice">Preț:</label>
            <input type="number" name="productPrice" class="form-control" id="productPrice" rows="1" ng-model="productPrice" required></input>
        </div>
        <div class="form-group" style="margin-top : 20px">
            <label for="productTag">Tag:</label>
            <textarea name="productTag" class="form-control" id="productTag" rows="1" ng-model="productTag" required></textarea>
        </div>
        <div style="display : -webkit-inline-box">
            <label for="productCommunity">Alege o comunitate:</label>
            <select class="form-control form-control-lg" style="margin-left : 50px" ng-model="selectedCommunity" ng-options="community.name for community in communities">
            </select>
        </div>
        <div class="form-group" style="margin-top : 20px; margin-left: 40%">
        <span ng-show="productForm.productName.$invalid || productForm.productDescription.$invalid || productForm.productTag.$invalid || productForm.productSeries.$invalid
                        || productForm.productPrice.$invalid">ATENȚIE! Este obligatorie completarea tuturor câmpurilor!</span>        
        <button type="submit" class="btn btn-primary" ng-click="addProducts(productName, productDescription, productTag, productSeries, productPrice, selectedCommunity)"
        ng-disabled="productForm.productName.$invalid || productForm.productDescription.$invalid || productForm.productTag.$invalid || productForm.productSeries.$invalid
                        || productForm.productPrice.$invalid"> Adaugă </button>
        </div>
    </form>
    <form name="deleteForm" style="margin-top : 50px">
        <h3> Șterge un produs </h3>
        <div class="form-group">
            <label for="deleteProduct">Introdu id-ul sau seria produsului pe care vrei să îl ștergi:</label>
            <input type="text" class="form-control" name="productIdOrSeries" id="productIdOrSeries" ng-model="productIdOrSeries" required>
        </div>
        <button class="btn btn-primary" ng-click="deleteProduct(productIdOrSeries)" ng-disabled="deleteProduct.productIdOrSeries.$invalid"> Șterge produs </button>
    </form>